<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>asm</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern/>
	</filter-mapping>
	<filter-mapping>
		<filter-name>api</filter-name>
		<url-pattern/>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern/>
	</filter-mapping>
		<filter-mapping>
		<filter-name>auth</filter-name>
		<url-pattern/>
	</filter-mapping>
</web-app>